.navbar {
  color: var(--text-100);
  background-color: var(--background-300);
  box-shadow: 1px 1px 10px var(--background-900);
}

.navbar-brand {
  color: var(--text-900);
}

.search-input,
.search-icons,
.search-bar {
  border-radius: 50px;
  max-width: 700px;
}

.search-input:focus {
  outline: blue;
  box-shadow: none;
}

.search-btn,
.clear-btn {
  background-color: transparent;
  color: var(--text-900);
  border: none;
  padding: 2px;
  border-radius: 5px;
  transition: 0.2s;
}

.search-btn:hover,
.clear-btn:hover {
  background-color: transparent;
  box-shadow: none !important;
  color: var(--text-200) !important;
}

.search-btn:active,
.clear-btn:active {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--text-900) !important;
}

.search-bar {
  transition: 0.2s;

}

.search-bar:hover {
  box-shadow: 0 0 10px var(--background-900);
}

.navbar-icon {
    -webkit-text-stroke: 1px;
}

.navbar-btn,
.navbar-btn:active,
.navbar-btn:focus {
  background-color: transparent !important;
  color: var(--text-900) !important;
  outline: none;
  border: none;
  transition: 0.4s;
}

.navbar-btn:hover {
    background-color: transparent !important;
    color: var(--text-100) !important;
    box-shadow: none !important;
}

.navbar-btn:hover .navbar-icon {
    -webkit-text-stroke: 0.5px !important;
}

.dropdown-container {
  position: relative !important;
}

.profile-menu {
  position: absolute !important;
  top: 100% !important;
  /* Bottom of button */
  right: 0 !important;
  /* More to the left */
  margin-left: -100px;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}
