/*backgrounds*/
.background-color-lightskin {
  background-color: #d9967e;
}

/* Layout*/
.container-fluid {
  min-height: 100vh; /* make the container fill the viewport height */
  display: flex; /* use grid layout */
  align-items: center; /* center the items vertically */
  justify-content: center; /* center the items horizontally */
}

.login-form {
  background-color: #733527;
  margin: 10%;
  padding: 10;
  background-size: cover;
}

.input {
  width: 80%;
  margin: 10px; /* set the margin to 10 pixels on all sides */
  padding: 5px; /* set the padding to 5 pixels on all sides */
}
#email {
  margin-bottom: 4px;
  padding: 6px;
  width: 90%;
}
#password {
  margin-top: 4px;
  padding: 6px;
  width: 90%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
